<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/crypto">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/services">Services</a>
            <a class="nav-item nav-link" href="/plans">Plans</a>
            <a class="nav-item nav-link" href="/support">Support</a>
            <div class="navbar-nav ms-auto right-side">
                <a class="nav-item nav-link" href="/signup">Signup</a>
                <a class="nav-item nav-link" href="/login">Login</a>
            </div>
        </div>
    </div>
</nav>

<style>
    .right-side {
        position: fixed;
        right: 0;
    }

    .nav-link {
        font-size: 20px;
        font-weight: 300;
        color: white!important;
    }
</style>
