<% layout("/layouts/boilerplate") -%>

<div>
    <div class="hero">
        <img src="image2.jpg" alt="" />
        <img src="image3.jpg" alt="" />
    </div>

    <h1>### Plans Offered</h1>
    <ul>
        <li>#### Basic Plan - *Features*: - Account creation - Secure wallet services - Access to the trading platform - *Price*: Free</li>

        <li>#### Advanced Plan - *Features*: - Advanced charting tools - In-depth market analysis - Priority customer support - *Price*: $9.99/month</li>

        <li>#### Premium Plan - *Features*: - Exclusive research reports - Lower trading fees - Personalized investment advice - *Price*: $29.99/month</li>

        <li>#### Enterprise Plan - *Features*: - API integration - White-label solutions - Dedicated account management - *Price*: Custom Quote</li>

        <li>#### VIP Plan - *Features*: - Bespoke services - Exclusive access to ICOs - Invitations to VIP events - *Price*: Contact for Pricing</li>
    </ul>

    Choose the plan that best suits your needs and level of engagement with the crypto market.
    <style>
        body {
            font-size: 2rem;
        }

        h1 {
            font-size: 3rem;
            color: white;
            font-weight: 600;
            text-decoration: underline;
        }

        li {
            font-size: 2rem;
        }
        img {
            width: 100px;
            height: 100px;
        }

        .hero {
            display: flex;
            justify-content: space-between;
        }
    </style>
</div>
