<% layout("/layouts/boilerplate") -%>

<div>
    <div class="hero">
        <h1>Services</h1>
        <img src="image2.jpg" alt="" />
        <img src="image3.jpg" alt="" />
    </div>

    <ul>
        <li>
            Blockchain Commercialization. We work with business unit leaders to develop a blockchain solution, a detailed execution and ecosystem development strategy Blockchain Consultancy. We
            examine your existing solution, identify the need for a blockchain solution specific to your business use case and analyze how they can be deployed
        </li>
        <li>Depending on the need, our analysis may also involve Smart Contract code analysis, development of API over solidity codebase.</li>
        <li>we also offer consulting services around Blockchain technology, marketing techniques for cryptocurrency projects, and investment strategies for crypto.</li>
    </ul>
    <style>
        body {
            font-size: 2rem;
        }

        h1 {
            font-size: 3rem;
            color: white;
            font-weight: 600;
            text-decoration: underline;
        }

        li {
            font-size: 2rem;
        }
        img {
            width: 100px;
            height: 100px;
        }

        .hero {
            display: flex;
            justify-content: space-between;
        }
    </style>
</div>
