<% layout("/layouts/boilerplate") -%>

<div>
    <div class="hero">
        <h1>Support</h1>
        <img src="image2.jpg" alt="" />
        <img src="image3.jpg" alt="" />
    </div>
    <p>
        Need assistance? Our dedicated support team is here to help! Whether you have questions about our courses, need technical assistance, or simply want to provide feedback, we're just a message
        away. Contact us via email at support@cryptoskill.com or reach out to us through our live chat feature. Your success is our priority, and we're committed to providing you with the best support
        possible on your crypto journey.
    </p>

    <style>
        body {
            font-size: 2rem;
        }

        h1 {
            font-size: 3rem;
            color: white;
            font-weight: 600;
            text-decoration: underline;
        }

        p {
            font-size: 2rem;
        }
        img {
            width: 100px;
            height: 100px;
        }

        .hero {
            display: flex;
            justify-content: space-between;
            margin: 30px;
        }
    </style>
</div>
